<main>
  <div class="jagarv-h">
    <h1>Jagarv</h1>
  </div>

  <app-project-detail
    [detail]="translate.get('projectDetails.jagarv.videoDetail') | async"
    [description]="translate.get('projectDetails.jagarv.videoDescription') | async"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.jagarv.homepageDetail') | async"
    [description]="translate.get('projectDetails.jagarv.homepage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.jagarv.adminDashboardDetails') | async"
    [description]="translate.get('projectDetails.jagarv.adminDashboard') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.jagarv.adminUsersDetails') | async"
    [description]="translate.get('projectDetails.jagarv.adminUsers') | async"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.jagarv.adminPostsDetails') | async"
    [description]="translate.get('projectDetails.jagarv.adminPosts') | async"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.jagarv.adminOrdersDetails') | async"
    [description]="translate.get('projectDetails.jagarv.adminOrders') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.jagarv.cartPageDetails') | async"
    [description]="translate.get('projectDetails.jagarv.cartPage') | async"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.jagarv.wishlistPageDetails') | async"
    [description]="translate.get('projectDetails.jagarv.wishlistPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.jagarv.searchPageDetails') | async"
    [description]="translate.get('projectDetails.jagarv.searchPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>
</main>