<main>
  <div class="sofii-h">
    <h1>Sofii</h1>
    <a [routerLink]="['/']">Back To Home</a>
  </div>

  <app-project-detail
    [detail]="translate.get('projectDetails.sofii.videoDetail') | async"
    [description]="translate.get('projectDetails.sofii.videoDescription') | async"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/projects/videos/sofii/sofii.mp4'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.sofii.homepageDetail') | async"
    [description]="translate.get('projectDetails.sofii.homepageDescription') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/sofii-vsly/homepage.png'"
    [responsiveDetailMedia]="'assets/projects/sofii-vsly-rs/rs-homepage.png'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.sofii.chatDetail') | async"
    [description]="translate.get('projectDetails.sofii.chatPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/sofii-vsly/chat-page.png'"
    [responsiveDetailMedia]="'assets/projects/sofii-vsly-rs/rs-chat-page.png'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.sofii.profileDetails') | async"
    [description]="translate.get('projectDetails.sofii.profilePage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/sofii-vsly/profile-page.png'"
    [responsiveDetailMedia]="'assets/projects/sofii-vsly-rs/rs-profile-page.png'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.sofii.friendsDetail') | async"
    [description]="translate.get('projectDetails.sofii.friendsPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/sofii-vsly/friends-page.png'"
    [responsiveDetailMedia]="'assets/projects/sofii-vsly-rs/rs-friends-page.png'"
  ></app-project-detail>

  <app-project-detail
        [detail]="translate.get('projectDetails.sofii.notificationsDetails') | async"
        [description]="translate.get('projectDetails.sofii.notificationsPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/sofii-vsly/notifications-page.png'"
    [responsiveDetailMedia]="'assets/projects/sofii-vsly-rs/rs-notifications-page.png'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.sofii.searchDetails') | async"
            [description]="translate.get('projectDetails.sofii.searchPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/sofii-vsly/search-page.png'"
    [responsiveDetailMedia]="'assets/projects/sofii-vsly-rs/rs-search-page.png'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.sofii.savedsDetail') | async"
                [description]="translate.get('projectDetails.sofii.savedsPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/sofii-vsly/saved-page.png'"
    [responsiveDetailMedia]="'assets/projects/sofii-vsly-rs/rs-saved-page.png'"
  ></app-project-detail>

 

</main>
