<main>
  <div class="sofii-h">
    <h1>Sofii</h1>
  </div>

  <app-project-detail
    [detail]="'Project 1'"
    [description]="'Este es el primer proyecto con un video como medio.'"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="'Project 2'"
    [description]="'Descripción de un proyecto con solo una imagen.'"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="'Project 3'"
    [description]="'Otro proyecto con una imagen de ejemplo.'"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="'Project 4'"
    [description]="'Un proyecto con video y una imagen responsiva.'"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="'Project 5'"
    [description]="'Este es el quinto proyecto, que también usa video.'"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="'Project 6'"
    [description]="'Descripción de un proyecto con imagen.'"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="'Project 7'"
    [description]="'Un séptimo proyecto, solo con video.'"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="'Project 8'"
    [description]="'Proyecto con imagen responsiva.'"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="'Project 9'"
    [description]="'Último proyecto con video y una imagen responsiva.'"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

</main>
