<div class="project-detail">  
  <div class="pd-des">  
    <h2>{{ detail }}</h2>  
    <p>{{ description }}</p>  
  </div>  
  <div class="pd-media">  
    <ng-container *ngIf="detailMediaType === 'video'">
      <video controls [src]="detailMedia"></video>
    </ng-container>
    <ng-container *ngIf="detailMediaType !== 'video'">
      <img [src]="detailMedia" alt="Project media"/>
    </ng-container>
    <img *ngIf="responsiveDetailMedia" [src]="responsiveDetailMedia" alt="Responsive Project media" class="mobile-view"/>
  </div>
  
</div>