.project-detail {  
  display: flex;  
  padding: 15px;  
  gap: 25px;  
  margin-bottom: 25px;  
}  

.project-detail .pd-des, .pd-media {  
  flex: 1;  
}  

.pd-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.pd-media img, video {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}


.pd-media .mobile-view {
  width: 50%;
  height: auto;
  opacity: 0.8;
}


@media (max-width: 600px) {
  .pd-media {
    flex-direction: column;
  }

  .pd-media .mobile-view {
    width: 100%;
  }
}


@media(max-width: 600px) {  
  .project-detail {  
    flex-direction: column;  
  }  
}