.project-detail {  
display: flex;  
padding: 15px;  
gap: 25px;  
margin-bottom: 25px;  
}  .project-detail .pd-des, .pd-media {
flex: 1;
}

.pd-media img, video {
width: 100%;
height: 350px;
object-fit: cover;
border-radius: 15px;
}

@media(max-width: 600px) {
.project-detail {
flex-direction: column;
}
}