<main>
  <div class="code-banner">
    <h1>{{ 'banner.title' | translate }}</h1>
    <p>{{ 'banner.description' | translate }}</p>
    <p>{{ 'banner.precision' | translate }}</p>
    <button>{{ 'banner.button' | translate }}</button>
  </div>
  
  <div class="main-projects">
    <div class="main-psh">

      <h1 [innerHTML]="'projects.header' | translate"></h1>
    </div>
    
    <div class="projects">
      <app-project-showcase
        [name]="'Sofii'"
        [image]="'image soon'"
        [description]="('projects.project1.description' | translate)"
        [techStack]="[
          'devicon-nodejs-plain',
          'devicon-vuejs-plain',
          'devicon-mysql-plain',
          'devicon-socketio-plain',
          'devicon-typescript-plain'
        ]"
        [functionalities]="[
          ('projects.project1.functionalities[0]' | translate),
          ('projects.project1.functionalities[1]' | translate),
          ('projects.project1.functionalities[2]' | translate),
          ('projects.project1.functionalities[3]' | translate),
          ('projects.project1.functionalities[4]' | translate),
          ('projects.project1.functionalities[5]' | translate),
          ('projects.project1.functionalities[6]' | translate),
          ('projects.project1.functionalities[7]' | translate),
          ('projects.project1.functionalities[8]' | translate),
          ('projects.project1.functionalities[9]' | translate)
        ]">
      </app-project-showcase>

      <app-project-showcase
        [name]="'Jagarv'"
        [image]="'image soon'"
        [description]="('projects.project2.description' | translate)"
        [techStack]="[
          'devicon-java-plain',
          'devicon-spring-plain',
          'devicon-angularjs-plain',
          'devicon-postgresql-plain',
          'devicon-docker-plain',
          'devicon-typescript-plain'
        ]"
        [functionalities]="[
          ('projects.project2.functionalities[0]' | translate),
          ('projects.project2.functionalities[1]' | translate),
          ('projects.project2.functionalities[2]' | translate),
          ('projects.project2.functionalities[3]' | translate),
          ('projects.project2.functionalities[4]' | translate),
          ('projects.project2.functionalities[5]' | translate),
          ('projects.project2.functionalities[6]' | translate),
          ('projects.project2.functionalities[7]' | translate),
          ('projects.project2.functionalities[8]' | translate),
          ('projects.project2.functionalities[9]' | translate)
        ]">
      </app-project-showcase>

      <app-project-showcase
        [name]="'Sofii'"
        [image]="'image soon'"
        [description]="('projects.project3.description' | translate)"
        [techStack]="[
          'devicon-java-plain',
          'devicon-spring-plain',
          'devicon-angularjs-plain',
          'devicon-postgresql-plain',
          'devicon-docker-plain',
          'devicon-typescript-plain'
        ]"
        [functionalities]="[
          ('projects.project3.functionalities[0]' | translate),
          ('projects.project3.functionalities[1]' | translate),
          ('projects.project3.functionalities[2]' | translate),
          ('projects.project3.functionalities[3]' | translate),
          ('projects.project3.functionalities[4]' | translate),
          ('projects.project3.functionalities[5]' | translate),
          ('projects.project3.functionalities[6]' | translate),
          ('projects.project3.functionalities[7]' | translate),
          ('projects.project3.functionalities[8]' | translate),
          ('projects.project3.functionalities[9]' | translate)
        ]">
      </app-project-showcase>
    </div>
  </div>
</main>
