<div class="project">
  <div class="p-name">
    <h2>{{ name }}</h2>
  </div>
  <div class="p-image">
    <img [src]="image" alt="Project Screenshot" />
  </div>
  <div class="p-des">
    <p>{{ description }}</p>
  </div>
  
  <div class="tech-stack">
    <div *ngFor="let tech of techStack">
      <i [class]="tech"></i>
    </div>
  </div>

  <div class="funcs">
    <div *ngFor="let func of translatedFunctionalities; let i = index" class="func">
      <i class="fas fa-check-circle"></i>
      <span>{{ func }}</span>
    </div>
  </div>

  <div class="details-project">
    <button [routerLink]="'/' + pName">{{ 'projectDetailsBtn' | translate }}</button>
  </div>
</div>