<main>
  <div class="lebagarv-h">
    <h1>Lebagarv</h1>
  </div>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.videoDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.videoDescription') | async"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/projects/videos/lebagarv/lebagarv.mp4'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.homepageDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.homepage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/lebagarv/homepage.png'"
    [responsiveDetailMedia]="'assets/projects/lebagarv-rs/rs-homepage.png'"
  ></app-project-detail>

  <app-project-details
    [detail]="translate.get('projectDetails.lebagarv.carPageDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.carPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/lebagarv/car-page.png'"
    [responsiveDetailMedia]="'assets/projects/lebagarv-rs/rs-car-page.png'"
  ></app-project-detail>


  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.chatPageDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.chatPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/lebagarv/chat-page.png'"
    [responsiveDetailMedia]="'assets/projects/lebagarv-rs/rs-chat-page.png'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.favoritesPageDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.favoritesPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/lebagarv/favorites-page.png'"
    [responsiveDetailMedia]="'assets/projects/lebagarv-rs/rs-favorites-page.png'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.profilePageDetails') | async"
    [description]="translate.get('projectDetails.lebagarv.profilePage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/lebagarv/profile-page.png'"
    [responsiveDetailMedia]="'assets/projects/lebagarv-rs/rs-profile-page.png'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.searchPageDetails') | async"
    [description]="translate.get('projectDetails.lebagarv.searchPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/projects/lebagarv/search-page.png'"
    [responsiveDetailMedia]="'assets/projects/lebagarv-rs/rs-search-page.png'"
  ></app-project-detail>

</main>