<main>
  <div class="lebagarv-h">
    <h1>Lebagarv</h1>
  </div>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.videoDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.videoDescription') | async"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.homepageDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.homepage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.carPageDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.carPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.chatsPageDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.chatsPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.chatPageDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.chatPage') | async"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.favoritesPageDetail') | async"
    [description]="translate.get('projectDetails.lebagarv.favoritesPage') | async"
    [detailMediaType]="'img'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.profilePageDetails') | async"
    [description]="translate.get('projectDetails.lebagarv.profilePage') | async"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

  <app-project-detail
    [detail]="translate.get('projectDetails.lebagarv.searchPageDetails') | async"
    [description]="translate.get('projectDetails.lebagarv.searchPage') | async"
    [detailMediaType]="'video'"
    [detailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
    [responsiveDetailMedia]="'assets/Showroom_508_M_Allure_1.jpg'"
  ></app-project-detail>

</main>