
  <main>
    <div class="code-banner">
      <h1>Calidad, Precisión, Elegancia, Mi Palabra.</h1>
      <p>Soy Agarv Caslu, desarrollador Full-Stack. Transformo cada proyecto en una historia de éxito.</p>
      <p>La precisión es mi obsesión. No hago las cosas por hacer, siempre busco lo mejor.</p>
      <button>Mis Proyectos</button>
    </div>
    
    <div class="main-projects">
      <div class="main-psh">
        <h1>Algunas de mis Obras Maestras de la <strong class="some-strong">Ingenieria:</strong></h1>
      </div>
      
      <div class="projects">
        
      </div>
    </div>
  </main>
  